// 配色の参照サイト
// https://saruwakakun.com/design/gallery/palette
//　元気・アクティブ系の下から２つ目

$BaseColor: #ffffff;

$HeaderColor: #5CC0EF;
$HeaderTextColor: #ffffff;
$HeadingColor: #1C75BC;
$HeadingTextColor: #ffffff;
$FooterColor: #5CC0EF;
$FooterTextColor: #ffffff;
$FooterBorderColor: #ffffff;
$FooterSelectedColor: #1C75BC;

$SubmitButtonColor: #F9A638;
$SubmitButtonTextColor: #ffffff;


//難易度の色
$singerMs: #e82e82;
$singerAq: #00a1e9;
$TypeCh: #a84cdd;
$TypeCo: #50c7bc;
$TypeSw: #fa6791;
$TypePl: #55b5fa;
$AchFc: #b7ffdb;
$AchAp: #b7b7ff;
$AchNjap: #ffb7b7;

// グラデーション定期
$BackgroundSilver: linear-gradient(-45deg,  #A5A5A5, #BABAC2, #E8E8E8, #A5A5A5, #BABAC2);
$BackgroundGold: linear-gradient(-45deg, #F7DE05, #DA8E00, #EDAC06, #F7DE05, #ECB802, #DAAF08, #B67B03);
$baclgroundRainbow: linear-gradient(-45deg, #f00 , #f80 , #dd0 , #0d0 , #0dd , #00f , #e0e , #f00 );


* {
    box-sizing: border-box;
}
html {
    /* ダブルタップでのズーム抑制 */
    touch-action: manipulation;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    margin: 0;
    padding: 0;
    background-color: $BaseColor;
}
h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}
#wrapper {
    margin-bottom: 60px;
}

.pageTitle {
    text-align: center;
    background-color: $HeaderColor;
    color: $HeaderTextColor;
    padding: 5px 0;
    h1 {
        font-size: 13pt;
    }
}
.heading {
    background-color: $HeadingColor;
    color: $HeadingTextColor;
    padding: 15px;
    h2 {
        margin: 0 10px;
    }
    .typeLine {
        text-align: right;
    }
}



button {
    border: none;
    &.ok {
        border-radius: 10px;
        background-color: $SubmitButtonColor;
        color: $SubmitButtonTextColor;
        padding: 10px 20px;
    }

    &.spin {
        border: none;
        background: none;
        color: $SubmitButtonColor;
    }
}



/* 達成率のマーク */
.achieve {
    text-align: center;
    color:white;
    background-color: gray;
    border-radius: 15px;
    text-align: center;
    width: 60px;
    display: inline-block;
    padding: 3px;
    &.ac {
        text-shadow: 1px 1px 0 #666, -1px 1px 0 #666, 1px -1px 0 #666, -1px -1px 0 #666;
    }
    &.fc.ac {
        background: $BackgroundSilver;
    }
    &.ap.ac {
        background: $BackgroundGold;
    }
    &.njap.ac {
        background: $baclgroundRainbow;
    }    
}



#menu {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    border-top: 1px solid $FooterBorderColor;
    background-color: $FooterColor;
    a {
        flex-grow: 5;
        text-align: center;
        font-size: 25px;
        padding-top: 5px;
        color: $FooterTextColor;
        border: 1px solid $FooterBorderColor;
    }
}


#home {
    .filter
    {
        padding: 10px;
        text-align: center;
        p {
            margin: 5px 0 0 0;
        }
        .candidate {
            padding: 5px 0;
        }
        input {
            display: none;
        }
        input + label {
            .singer {
                color:#ffffff;
                background-color: #666666;
                border-radius: 15px;
                text-align: center;
                width: 110px;
                display: inline-block;
                padding: 3px;
            }
            .type {
                color:#ffffff;
                background-color: #666666;
                border-radius: 15px;
                text-align: center;
                width: 110px;
                display: inline-block;
                padding: 3px;
            }
        }
        input:checked + label {
            .singer {
                &.ms { background-color: $singerMs;}
                &.aq { background-color: $singerAq;}
            }
            .type {
                &.ch { background-color: $TypeCh; }
                &.co { background-color: $TypeCo; }
                &.sw { background-color: $TypeSw; }
                &.pl { background-color: $TypePl; }
            }
        }
    }
    .dTable {
        .rowLvl {
            position: relative;
            padding-left: 20px;
        }
        .dsp {
            margin: 0;
            padding: 2px;
            border: 1px solid #000000;
            word-break:break-all;
            width: 20px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
        }
        .levelMain {
            display: flex;
            flex-flow: row wrap;
            margin: 0;
            padding: 0;
            p {
                margin: 0;
                padding: 0;
                border: 1px solid #000000;
                padding: 2px;
                word-break:break-all;
                cursor: pointer;
                &.fc {
                    background-color: $AchFc;
                }
                &.ap {
                    background-color: $AchAp;
                }
                &.njap {
                    background-color: $AchNjap;
                }
            }
        }
    }
    .sampleFc {color: $AchFc;}
    .sampleAp {color: $AchAp;}
    .sampleNjap {color: $AchNjap;}
}
#aim {
    .cm {
        min-height: 200px;
        padding: 10px;
        border-bottom: 1px solid #000000;
    }
    textarea {
        width: 100%;
        resize: vertical;
    }
}
#setting {
    .saveLine {
        text-align: center;
    }
}
#info {
    h2 {
        text-align: center;
        margin-top: 20px;
    }
    table {
        width: 100%;
    }
    th, td {
        padding: 5px;
        border: 1px solid gray;
    }
}