@charset "UTF-8";
* {
  box-sizing: border-box;
}

html {
  /* ダブルタップでのズーム抑制 */
  touch-action: manipulation;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

#wrapper {
  margin-bottom: 60px;
}

.pageTitle {
  text-align: center;
  background-color: #5CC0EF;
  color: #ffffff;
  padding: 5px 0;
}

.pageTitle h1 {
  font-size: 13pt;
}

.heading {
  background-color: #1C75BC;
  color: #ffffff;
  padding: 15px;
}

.heading h2 {
  margin: 0 10px;
}

.heading .typeLine {
  text-align: right;
}

button {
  border: none;
}

button.ok {
  border-radius: 10px;
  background-color: #F9A638;
  color: #ffffff;
  padding: 10px 20px;
}

button.spin {
  border: none;
  background: none;
  color: #F9A638;
}

/* 達成率のマーク */
.achieve {
  text-align: center;
  color: white;
  background-color: gray;
  border-radius: 15px;
  text-align: center;
  width: 60px;
  display: inline-block;
  padding: 3px;
}

.achieve.ac {
  text-shadow: 1px 1px 0 #666, -1px 1px 0 #666, 1px -1px 0 #666, -1px -1px 0 #666;
}

.achieve.fc.ac {
  background: linear-gradient(-45deg, #A5A5A5, #BABAC2, #E8E8E8, #A5A5A5, #BABAC2);
}

.achieve.ap.ac {
  background: linear-gradient(-45deg, #F7DE05, #DA8E00, #EDAC06, #F7DE05, #ECB802, #DAAF08, #B67B03);
}

.achieve.njap.ac {
  background: linear-gradient(-45deg, #f00, #f80, #dd0, #0d0, #0dd, #00f, #e0e, #f00);
}

#menu {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  border-top: 1px solid #ffffff;
  background-color: #5CC0EF;
}

#menu a {
  flex-grow: 5;
  text-align: center;
  font-size: 25px;
  padding-top: 5px;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.v-enter-active,
.v-leave-active {
  transition: all 0.2s;
}

.v-enter {
  transform: translateX(100%);
  opacity: 0;
}

.v-enter-to {
  opacity: 1;
}

.v-leave {
  opacity: 1;
}

.v-leave-to {
  transform: translateX(-100%);
  opacity: 0;
}

#home .filter {
  padding: 10px;
  text-align: center;
}

#home .filter p {
  margin: 5px 0 0 0;
}

#home .filter .candidate {
  padding: 5px 0;
}

#home .filter input {
  display: none;
}

#home .filter input + label .singer {
  color: #ffffff;
  background-color: #666666;
  border-radius: 15px;
  text-align: center;
  width: 110px;
  display: inline-block;
  padding: 3px;
}

#home .filter input + label .type {
  color: #ffffff;
  background-color: #666666;
  border-radius: 15px;
  text-align: center;
  width: 110px;
  display: inline-block;
  padding: 3px;
}

#home .filter input:checked + label .singer.ms {
  background-color: #e82e82;
}

#home .filter input:checked + label .singer.aq {
  background-color: #00a1e9;
}

#home .filter input:checked + label .type.ch {
  background-color: #a84cdd;
}

#home .filter input:checked + label .type.co {
  background-color: #50c7bc;
}

#home .filter input:checked + label .type.sw {
  background-color: #fa6791;
}

#home .filter input:checked + label .type.pl {
  background-color: #55b5fa;
}

#home .dTable .rowLvl {
  position: relative;
  padding-left: 20px;
}

#home .dTable .dsp {
  margin: 0;
  padding: 2px;
  border: 1px solid #000000;
  word-break: break-all;
  width: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

#home .dTable .levelMain {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
}

#home .dTable .levelMain p {
  margin: 0;
  padding: 0;
  border: 1px solid #000000;
  padding: 2px;
  word-break: break-all;
  cursor: pointer;
}

#home .dTable .levelMain p.fc {
  background-color: #b7ffdb;
}

#home .dTable .levelMain p.ap {
  background-color: #b7b7ff;
}

#home .dTable .levelMain p.njap {
  background-color: #ffb7b7;
}

#home .sampleFc {
  color: #b7ffdb;
}

#home .sampleAp {
  color: #b7b7ff;
}

#home .sampleNjap {
  color: #ffb7b7;
}

/* 楽曲リスト用アニメーション */
.rowLvl.idx0 .dsp {
  animation-delay: 0.0s;
}

.rowLvl.idx0 .levelMain {
  animation-delay: 0.0s;
}

.rowLvl.idx1 .dsp {
  animation-delay: 0.2s;
}

.rowLvl.idx1 .levelMain {
  animation-delay: 0.2s;
}

.rowLvl.idx2 .dsp {
  animation-delay: 0.4s;
}

.rowLvl.idx2 .levelMain {
  animation-delay: 0.4s;
}

.rowLvl.idx3 .dsp {
  animation-delay: 0.6s;
}

.rowLvl.idx3 .levelMain {
  animation-delay: 0.6s;
}

.rowLvl.idx4 .dsp {
  animation-delay: 0.8s;
}

.rowLvl.idx4 .levelMain {
  animation-delay: 0.8s;
}

.rowLvl.idx5 .dsp {
  animation-delay: 1.0s;
}

.rowLvl.idx5 .levelMain {
  animation-delay: 1.0s;
}

.rowLvl.idx6 .dsp {
  animation-delay: 1.2s;
}

.rowLvl.idx6 .levelMain {
  animation-delay: 1.2s;
}

.rowLvl.idx7 .dsp {
  animation-delay: 1.4s;
}

.rowLvl.idx7 .levelMain {
  animation-delay: 1.4s;
}

.rowLvl.idx8 .dsp {
  animation-delay: 1.6s;
}

.rowLvl.idx8 .levelMain {
  animation-delay: 1.6s;
}

.rowLvl.idx9 .dsp {
  animation-delay: 1.8s;
}

.rowLvl.idx9 .levelMain {
  animation-delay: 1.8s;
}

.rowLvl.idx10 .dsp {
  animation-delay: 2.0s;
}

.rowLvl.idx10 .levelMain {
  animation-delay: 2.0s;
}

.rowLvl .dsp {
  animation-name: movelistL;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
}

.rowLvl .levelMain {
  animation-name: movelistR;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
}

@keyframes movelistL {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes movelistR {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

#aim .cm {
  min-height: 200px;
  padding: 10px;
  border-bottom: 1px solid #000000;
}

#aim textarea {
  width: 100%;
  resize: vertical;
}

#setting .saveLine {
  text-align: center;
}

#info h2 {
  text-align: center;
  margin-top: 20px;
}

#info table {
  width: 100%;
}

#info th, #info td {
  padding: 5px;
  border: 1px solid gray;
}
